<template>
  <div class="about">
    <h1>{{title}}</h1>
    <button @click="test()">테스트</button>
    <v-btn :color="btnColor" @click="test2()">test</v-btn>
    <v-chip v-for="chip in chips" :color="chip.cl">{{chip.name}}</v-chip>
  </div>
</template>

<script>
export default {
  name: 'help',
  data() {
    return {
      title:'zzzzzzzzzzzzzzzzz',
      btnColor:"success",
      chips: [
        {
          cl:'primary',
          name:'aaaa'
        },
        {
          cl:'warning',
          name:'bbbb'
        },
        {
          cl:'error',
          name:'cccc'
        },
        {
          cl:'success',
          name:'dddd'
        }
      ]
    }
  },
  methods: {
    test(){
      this.title = "화장실가고싶어";
      this.btnColor = "warning"
    },
    test2(){
      this.title = "zzzzzzzzzzzzzzzzz";
      this.btnColor = "error"
    }
  },
}
</script>
